<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.cadan.doitwhenimthere"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <permission
        android:name="il.cadan.doitwhenimthere.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="il.cadan.doitwhenimthere.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="il.cadan.doitwhenimthere.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>

            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="il.cadan.done" >
                </action>
                <action android:name="il.cadan.snooze" >
                </action>
            </intent-filter>
        </activity>
         <activity
            android:name="il.cadan.doitwhenimthere.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB13ymYYT33H4qQ4WUOcnmqI5oJVoPbzKI" />

        <service
            android:name="il.cadan.doitwhenimthere.services.LocationReminderService"
            android:icon="@drawable/ic_launcher"
            android:label="lOCATION REMINDER SERVICE" >
        </service>

        <receiver
            android:name="il.cadan.doitwhenimthere.bl.ReminderBroadCastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="il.ac.asenkar.brodcast_receiver_costum_reciver" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="il.cadan.doitwhenimthere.bl.NotificationAnswerReciever"
            android:exported="false" >
            <intent-filter>
                <action android:name="il.cadan.done" >
                </action>
                <action android:name="il.cadan.snooze" >
                </action>
                <action android:name="il.cadan.ignore" >
                </action>
                <action android:name="il.cadan.snooze.TEN_MINUTE" >
                </action>
                <action android:name="il.cadan.snooze.ONE_HOUR" >
                </action>
                <action android:name="il.cadan.snooze.THREE_HOUR" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>